header {
    background-color: #333; /* Dark gray background */
    padding: 10px 0; /* Add padding to create space around the navigation */
}

nav ul {
    list-style-type: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
    text-align: center; /* Align navigation links to the center */
}

nav ul li {
    display: inline; /* Display list items inline */
    margin-right: 20px; /* Add margin between navigation items */
}

nav ul li a {
    color: #fff; /* White text color */
    text-decoration: none; /* Remove underline from links */
    font-size: 18px; /* Set font size for navigation links */
}

nav ul li a:hover {
    text-decoration: underline; /* Underline links on hover */
}

/* Homepage container styles */
.homepage-container {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDi1lJ9ry2Um7opMeVbbUE5cFtyGZNmls2yg&usqp=CAU'); /* Background photo URL */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set height to viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style for product container */
.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: calc(25% - 20px); /* Four products per row */
    max-width: 300px; /* Limit maximum width of product */
    box-sizing: border-box; /* Include padding and border in width calculation */
    background-color: #f9f9f9; /* Background color for product cards */
}

/* Style for product image */
.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Style for product title */
.product h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

/* Style for product description */
.product p {
    color: #666;
}

/* Style for buy button */
.buy-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
}

/* Hover effect for buy button */
.buy-btn:hover {
    background-color: #45a049;
}

/* Footer styles */
.footer {
    background-color: #333; /* Background color for footer */
    color: #fff; /* Text color for footer */
    padding: 20px 0; /* Padding for footer content */
}

.footer .container {
    text-align: center; /* Center align footer content */
}
